$sansFont: 'Montserrat', sans-serif;
$serifFont: 'Playfair Display', serif;
$primaryBackgroundColor: white;
$secondaryBackgroundColor:#222222;

* {
    font-family: $sansFont;
}

.navbar {
    z-index: 2;
}

.dropdown-toggle::after {
    content: none;
}

#featured {
    background: url("img/featured.jpg");
    background-size: cover;
    width: 100%;
    height: 90vh;
}

#featured-caption {
    color: white;
    position: absolute;
    bottom: 5%;
    left: 5vw;
    width: 40%;
    z-index: 1;
}

#featured-header {
    color: rgb(20, 74, 156);
    text-transform: uppercase;
}

.title {
    font-family: $serifFont;
}

#featured-title {
    font-weight: bold;
    font-size: 36px;
}

#top-posts {
    color: white;
    background-color: $secondaryBackgroundColor;
    width: 100%;
    padding-bottom: 5vh;
}

#top-posts-label {
    margin: 0 0 4vh 0;
    padding-top: 5vh;
}

.top-post-row {
    margin-bottom: 10vh;
}

.top-img {
    width: 100%;
    height: 100%;
}

#latest-posts {
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: $secondaryBackgroundColor;
}

#latest-posts-label {
    margin: 0 0 4vh 0;
}

#latest-block-lg {
    background: linear-gradient( rgb(100,100,100,0.5), rgb(100,100,100,0.5)), url("img/latest-1.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #ad62aa;*/
}

#latest-block-lg-txt {
    border: solid white 10px;
    border-style: solid solid none solid;
    color: white;
    width: 90%;
    height: 80%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-title-lg {
    font-family: $serifFont;
    font-size: 40px;
}

.latest-img {
    width: 100%;
    min-height: 120px;
}

@media only screen and (min-width: 800px) {
    .latest-img {
        height: 185px;
    }
}

#latest-block-sm {
    width: 100%;
    height: 50%;
    background-color: $primaryBackgroundColor;
    
}

.latest-title-sm {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    
}

#editor-picks {
    background-color: $secondaryBackgroundColor;
    color: $primaryBackgroundColor;
    padding-top: 5vh;
    padding-bottom: 8vh;
}

#editor-label {
    padding-bottom: 2vh;
}

#editor-row {
    background-color: white;
}

.no-gutters {
    padding: 0;
}

.editor-img {
    width: 100%;
    height: 100%;
}

.editor-title {
    font-family: $serifFont;
}

.editor-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-overlay-content {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
    border: solid white 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#sign-up {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#sign-up-label {
    font-family: $serifFont;
    font-weight: bolder;
}

#sign-up-container > * {
    text-align: center;
}

#sign-up-form {
    justify-content: center;
}

#sign-up-bar {
    width: 25em;
}

#footer {
    background-color: $secondaryBackgroundColor;
    color: $primaryBackgroundColor;
    padding-top: 3vh;
    padding-bottom: 2vh;
}

.footer-item {
    text-transform: uppercase;
}

#featured-title, .latest-title-lg,
.latest-title-sm, .overlay-block,
.footer-item {
    cursor: pointer;
}